@using System.Threading;
@using ManagerProject.Models;
@{
    var currLang = Thread.CurrentThread.CurrentCulture.ToString();
    var classEn = currLang == "en-US" ? "" : "lang-nonactive";
    var classVi = currLang == "vi-VN" ? "" : "lang-nonactive";

    var userSession = (UserLoginModel)Session[ManagerProject.Helper.Commons.USER_SEESION_ADMIN];

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.default-v2.min.css" />
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css” />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500&display=swap" rel="stylesheet">
    <!-- Material Kit CSS -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/Content/kendo/css/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="/Content/kendo/css/kendo.mobile.all.min.css" />

    <link href="~/Content/bootstrap-4.4.1/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/main.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/angular.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/jszip.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/cultures/kendo.culture.@(currLang).min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/messages/kendo.messages.@(currLang).min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script src="/Content/kendo/script/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="/Content/kendo/script/jszip.min.js"></script>
    <script src="/Content/kendo/script/kendo.all.min.js"></script>




    @*<script src="/Content/kendo/script/kendo.culture.@(currLang).min.js"></script>
        <script src="/Content/kendo/script/kendo.messages.@(currLang).min.js"></script>*@
    <script src="/Content/kendo/script/kendo.culture.en-US.min.js"></script>
    <script src="/Content/kendo/script/kendo.messages.en-US.min.js"></script>
    @*<script src="@Url.Content("~/Content/owlCarousel/js/owl.carousel.min.js")"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.js"></script>
    @*<script src="/Scripts/QLFahasa.js"></script>*@
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/Gsap.js"></script>
    @*<script src="/Content/ImageViewer/viewer.js"></script>*@


    <!--<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/meanmenu.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/chosen.min.css" rel="stylesheet" /> -->
    <!-- style css -->
    @*<link href="~/css/style.css" rel="stylesheet" />*@
    <!-- responsive css -->
    @*<link href="~/css/responsive.css" rel="stylesheet" />*@
    <!-- modernizr css -->
    @*<script src="~/Scripts/js/vendor/modernizr-2.8.3.min.js"></script>*@

    <!-- template addmin dashboard style-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/assets/css/shared/style.css">
    <link rel="stylesheet" href="/Content/assets/css/demo_1/style.css">
</head>
<body>
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            @*<a class="navbar-brand brand-logo" href="@Url.Action("Index","Home")">
                <img src="/Content/assets/images/logo.svg" alt="logo" />
            </a>
            <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index","Home")">
                <img src="/Content/assets/images/logo-mini.svg" alt="logo" />
            </a>*@
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-semibold d-none d-lg-block">Help : +888 8888 888</li>

            </ul>
            <form class="ml-auto search-form d-none d-md-block" action="#">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Search Here">
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="d-xl-inline-block" id="image-tooltip">
                    <img class="img-xs rounded-circle" avatar="@Html.Raw(userSession.Username)" />

                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid page-body-wrapper">
        <!-- LEFT BAR -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="profile-image">
                            <img class="img-xs rounded-circle" avatar="@Html.Raw(userSession.Username)">
                            <div class="dot-indicator bg-success"></div>
                        </div>
                        <div class="text-wrapper">
                            <p class="profile-name">@Html.Raw(userSession.Username)</p>
                            <p class="designation">COORDINATOR</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item nav-category">Main Menu</li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","AdminHome")">
                        <i class="menu-icon typcn typcn-shopping-bag"></i>
                        <span class="menu-title">HOME</span>
                    </a>
                </li>
                @RenderSection("slider", required: false)
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout","Login")">
                        @*<i class="menu-icon typcn typcn-shopping-bag"></i>*@
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="menu-title">LOG OUT</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- MAIN CONTENT -->
        <div class="main-panel">
            <div class="content-wrapper">
                @RenderBody()
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"> ©2020 - CourseWork 1 - TopUp 2</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Design by Group 3 - UoG University VietNam</span>
                </div>
            </footer>
            <!-- partial -->
        </div>

        @*------------------------------------------*@


        @Scripts.Render("~/bundles/bootstrap")
        <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="/Scripts/jquery.validate.js"></script>
        <script src="/Scripts/Gsap.js"></script>
        @RenderSection("scripts", required: false)

        <script id="template" type="text/x-kendo-template">
            <div class="template-wrapper">
                <h3>@Html.Raw(userSession.Username)</h3>
                <a class="nav-link" href="@Url.Action("Logout","Login")">
                    @*<i class="menu-icon typcn typcn-shopping-bag"></i>*@
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="menu-title">LOG OUT</span>
                </a>
            </div>
        </script>
        <script>
            $("#image-tooltip").kendoTooltip({
                autoHide: true,
                content: kendo.template($("#template").html()),
                width: 150,
                height: 120,
                position: "left"
            });

            (function (w, d) {


                function LetterAvatar(name, size) {

                    name = name || '';
                    size = size || 60;

                    var colours = [
                        "#1abc9c", "#2ecc71", "#3498db", "#9b59b6", "#34495e", "#16a085", "#27ae60", "#2980b9", "#8e44ad", "#2c3e50",
                        "#f1c40f", "#e67e22", "#e74c3c", "#ecf0f1", "#95a5a6", "#f39c12", "#d35400", "#c0392b", "#bdc3c7", "#7f8c8d"
                    ],

                        nameSplit = String(name).toUpperCase().split(' '),
                        initials, charIndex, colourIndex, canvas, context, dataURI;


                    if (nameSplit.length == 1) {
                        initials = nameSplit[0] ? nameSplit[0].charAt(0) : '?';
                    } else {
                        initials = nameSplit[0].charAt(0) + nameSplit[1].charAt(0);
                    }

                    if (w.devicePixelRatio) {
                        size = (size * w.devicePixelRatio);
                    }

                    charIndex = (initials == '?' ? 72 : initials.charCodeAt(0)) - 64;
                    colourIndex = charIndex % 20;
                    canvas = d.createElement('canvas');
                    canvas.width = size;
                    canvas.height = size;
                    context = canvas.getContext("2d");

                    context.fillStyle = colours[colourIndex - 1];
                    context.fillRect(0, 0, canvas.width, canvas.height);
                    context.font = Math.round(canvas.width / 2) + "px Arial";
                    context.textAlign = "center";
                    context.fillStyle = "#FFF";
                    context.fillText(initials, size / 2, size / 1.5);

                    dataURI = canvas.toDataURL();
                    canvas = null;

                    return dataURI;
                }

                LetterAvatar.transform = function () {

                    Array.prototype.forEach.call(d.querySelectorAll('img[avatar]'), function (img, name) {
                        name = img.getAttribute('avatar');
                        img.src = LetterAvatar(name, img.getAttribute('width'));
                        img.removeAttribute('avatar');
                        img.setAttribute('alt', name);
                    });
                };
                if (typeof define === 'function' && define.amd) {

                    define(function () { return LetterAvatar; });
                } else if (typeof exports !== 'undefined') {
                    if (typeof module != 'undefined' && module.exports) {
                        exports = module.exports = LetterAvatar;
                    }
                    exports.LetterAvatar = LetterAvatar;

                } else {

                    window.LetterAvatar = LetterAvatar;

                    d.addEventListener('DOMContentLoaded', function (event) {
                        LetterAvatar.transform();
                    });
                }

            })(window, document);
        </script>


</body>
</html>
