@model ManagerProject.Models.DeadLineViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutHome.cshtml";

    var check = (int)ViewBag.CheckDeadLine;
}
@section slider{

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Statistic","ManagerHome")">
            <i class="menu-icon typcn typcn-shopping-bag"></i>
            <span class="menu-title">STATISTICAL</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("DeadLine","ManagerHome")">
            <i class="menu-icon typcn typcn-shopping-bag"></i>
            <span class="menu-title">SET DEADLINE</span>
        </a>
    </li>

}

@*<div>
        <h2>CURRENT DEADLINE</h2>
        <div class="row">
            <div class="col-lg-1 col-md-4">
                <label>TERM</label><span class="input-required"></span>
            </div>
            <div class="col-lg-8 col-md-8">
                <label>@Html.Raw(Model.DeadLine_Content)</label><span class="input-required"></span>
            </div>
        </div>
        <br />
        <div>
            START @Html.Raw(Model.DeadLine_start.Value.Date.ToString("dd/MM/yyyy")) ---> END
            @Html.Raw(Model.DeadLine_end.Value.Date.ToString("dd/MM/yyyy"))
        </div>

    </div>*@

<div>
    <div class="row">
        <div class="col-lg-1 col-md-4">
            <label>TERM</label><span class="input-required"> *</span>
        </div>
        <div class="col-lg-8 col-md-8">
            <input type="text" name="name" value="" id="input-title-deadline" required style="width: 50%;" />
        </div>
    </div>
    <br />

    <div>
        <input id="deadline-start" style="width: 20%" /> ---> <input id="deadline-end" style="width: 20%" />
    </div>

    <div style="padding-top: 20px">
        <input type="submit" id="btn-setDateline" class="btn btn-danger btn-lg" value="SET DEADLINE" />
    </div>

</div>





<script>
    var date = new Date();
    var start = $("#deadline-start").kendoDatePicker({
        value: "@Html.Raw(Model.DeadLine_start)",//new Date(date.getFullYear(), date.getMonth(), 1),
        dateInput: true,
        format: "dd/MM/yyyy",
        change: function () {
            startChange()
        }
    }).data("kendoDatePicker");;

    var end = $("#deadline-end").kendoDatePicker({
        value: "@Html.Raw(Model.DeadLine_end)",//new Date(),
        dateInput: true,
        format: "dd/MM/yyyy",
        change: function () {
            endChange()
        }
    }).data("kendoDatePicker");

    $("#input-title-deadline").kendoTextBox({
        value: "@Html.Raw(Model.DeadLine_Content)"
    });

    function startChange() {
        var startDate = start.value(),
            endDate = end.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            end.min(startDate);
        } else if (endDate) {
            start.max(new Date(endDate));
        } else {
            endDate = new Date();
            start.max(endDate);
            end.min(endDate);
        }
    }

    function endChange() {
        var endDate = end.value(),
            startDate = start.value();
        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate());
            start.max(endDate);
        } else if (startDate) {
            end.min(new Date(startDate));
        } else {
            endDate = new Date();
            start.max(endDate);
            end.min(endDate);
        }
    }
    start.max(end.value());
    end.min(start.value());

    $("#btn-setDateline").click(function () {
        var startDateLine = ($("#deadline-start").data("kendoDatePicker").value()).toJSON();
        var endDateLine = ($("#deadline-end").data("kendoDatePicker").value()).toJSON();
        $.ajax({
            url: "@Url.Action("SetDeadLine", "ManagerHome")",
            type: "POST",
            dataType: "json",
            data: {
                start: startDateLine,
                end: endDateLine
            },
            success: function (result) {

            }
        });
    })

    function SetDateLine() {
        var startDateLine = ($("#deadline-start").data("kendoDatePicker").value()).toJSON();
        var endDateLine = ($("#deadline-end").data("kendoDatePicker").value()).toJSON();
        $.ajax({
            url: "@Url.Action("SetDeadLine", "ManagerHome")",
            type: "POST",
            dataType: "json",
            data: {
                start: startDateLine,
                end: endDateLine
            },
            success: function (result) {

            }
        });
    }

    if (@check == 1) {
        $("#btn-setDateline").attr('disabled', true);
    } else {
        $("#btn-setDateline").removeAttr('disabled');
    }
</script>



