@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutHome.cshtml";
}

<div class="col-lg-6 grid-margin stretch-card" style="float: left">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h4 class="card-title mb-0">Generate</h4>
                <div id="line-traffic-legend"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 class="mb-0 font-weight-medium">@Html.Raw(ViewBag.total)</h2>
                    <p class="mb-5 text-muted">Total submissions</p>
                </div>
                <div class="col-md-3">
                    <h2 class="mb-0 font-weight-medium">   </h2>
                    <p class="mb-5 text-muted">   </p>
                </div>
            </div>
            <div class="k-content">
                <div id="chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h4 class="card-title mb-0">The ratio between public and non-public submissions</h4>
                <div id="line-traffic-legend"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 class="mb-0 font-weight-medium">@Html.Raw(ViewBag.totalPublic)</h2>
                    <p class="mb-5 text-muted">Total public</p>
                </div>
                <div class="col-md-3">
                    <h2 class="mb-0 font-weight-medium">@Html.Raw(ViewBag.totalNonPublic)</h2>
                    <p class="mb-5 text-muted">Total non-public</p>
                </div>
            </div>
            <div class="k-content">
                <div id="pie-chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 grid-margin" style="float: left">
    <div class="card">
        <div class="p-4 border-bottom bg-light">
            <h4 class="card-title mb-0">Top 10 students who the most submissions submitted </h4>
        </div>
        <div class="card-body">
            <div class="k-content">
                <div id="chart2"></div>
            </div>
            <div class="mr-5" id="mixed-chart-legend"></div>
        </div>
    </div>
</div>

<script>
    var dataPichart = [];

    $("#chart").kendoChart({
        dataSource: {
            transport: {
                read: {
                    url: '@Url.Action("GetNumSubmisstionEachDepartment", "ManagerHome")',
                    dataType: "json"
                }
            }
        },
        title: {
            text: "Statistics of submissions by each Department"
        },
        legend: {
            position: "top"
        },
        seriesDefaults: {
            type: "column"
        },
        series:
            [{
                field: "num",
                categoryField: "value"
            }],
        categoryAxis: {
            labels: {
                rotation: -90
            },
            majorGridLines: {
                visible: false
            }
        },
        valueAxis: {
            labels: {
                format: "N0"
            },
            majorUnit: 10,
            line: {
                visible: false
            }
        },
        tooltip: {
            visible: true,
            format: "N0"
        }
    });

    $("#pie-chart").kendoChart({
        dataSource: {
            data: dataPichart
        },
        title: {
            position: "bottom",
            text: ""
        },
        legend: {
            visible: false
        },
        chartArea: {
            background: ""
        },
        seriesDefaults: {
            labels: {
                visible: true,
                background: "transparent",
                template: "#= category #: \n #= value#%"
            }
        },
        series: [{
            type: "pie",
            startAngle: 150,
            field: "value",
            color: "color",

        }],
        tooltip: {
            visible: true,
            format: "{0}%"
        }
    });

    $("#chart2").kendoChart({
        series: [{
            field: 'value',
            type: "bar",
            categoryField: "name",
            width: 1,
            overlay: {
                gradient: "none"
            },
            border: {
                width: 0,
            },
        }],
        legend: { visible: false },
        seriesDefaults: {
            color: "#2BBBE7",
            labels: {
                visible: true,
                font: "14px Quicksand",
                color: "rgba(0, 0, 0, 0.52)",
            },
        },
        valueAxis: {
            labels: { visible: false, },
            line: false
        },
        dataBound: function () {

            if (this.dataSource.data().length <= 10) {
                $(".loadmore-hidden-fieldCollector").addClass("d-none");
            }
            else {
                $(".loadmore-hidden-fieldCollector").removeClass("d-none");
            }
            if (this.dataSource.data().length == 0) {
                $(".text-nocomment-chart2").remove();
                $("#chart2").after('<div class=" text-nocomment-chart2 mt-1 mb-1"><span>NO DATA</span></div> ');
            }
            else {
                $(".text-nocomment-chart2").remove();
            }
        },
        categoryAxis: [{
            labels: {
                font: "14px Quicksand ",
                template: "#= value #",
            },
        }],
    }).data("kendoChart");

    function GetRatePublicByDepartment() {
        $.ajax({
            url: '@Url.Action("GetRateOfSubmissionOrNotSubmissionStatistic", "ManagerHome")',
            type: "POST",
            dataType: "json",
            success: function (result) {
                var chart = $("#pie-chart").data("kendoChart");
                var dataSource = new kendo.data.DataSource({
                    data: result
                });
                chart.setDataSource(dataSource);

            }
        });
    }
    function GetNumberOfSubmissionsInDepartment() {
        var dataCollector = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetNumberOfSubmissionsAll", "ManagerHome")',
                    dataType: "json"
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            },
            serverPaging: true,
            pageSize: 10
        });

        dataCollector.fetch(function () {
            $("#chart2").data("kendoChart").setDataSource(dataCollector.data());
            $("#chart2").data("kendoChart").dataSource.pageSize(10);
        });
    }
    function GetNumSubmisstionEachDepartment() {
        $.ajax({
            url: '@Url.Action("GetNumSubmisstionEachDepartment", "ManagerHome")',
            type: "POST",
            dataType: "json",
            success: function (result) {
                console.log(result)
                //var chart = $("#chart").data("kendoChart");
                //var dataSource = new kendo.data.DataSource({
                //    data: result
                //});
                //chart.setDataSource(dataSource);
            }
        });
    }


    GetRatePublicByDepartment();
    GetNumberOfSubmissionsInDepartment();
    GetNumSubmisstionEachDepartment();

</script>

