@using ManagerProject.Models
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{
    var userSession = (UserLoginModel)Session[ManagerProject.Helper.Commons.USER_SEESION];

}

@section slider{
    @if (userSession.RoleID == 1)
    {
        <li class="nav-item">
            <a class="nav-link" onclick='popupAdd()' href="javascript:void(0)">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">ADD NEW CONTRIBUTION</span>
            </a>
        </li>
    }

    @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("EmailNotification","Home")">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">SEND EMAIL TEST</span>
            </a>
        </li>*@
}

<div id="ordersGrid"></div>

<div id="popupEdit">
    <div id="wndEdit"></div>
</div>
<div id="popupEditWindows">
    <div id="wndEditContent"></div>
</div>
<div id="popupDeleteWindows">
    <div id="wndDeleteContent"></div>
</div>

<script id="status-template" type="text/x-kendo-template">
    <div class="d-flex w-100 text-center">
        <a title="Edit" class="button buttonEdit rounded-circle btn-i-center" onclick="popupEdit('#:Sub_ID#')"><i class="fa fa-edit" aria-hidden="true"></i></a>
        <a title="Remove" class="button buttonEdit rounded-circle btn-i-center ml-2" onclick="popupDelete('#:Sub_ID#', '#:Sub_Title#')"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </div>
</script>

<script>

    $(function () {

        $("#kendoVersion").text(kendo.version);

        var orderData = [
            { OrderID: 1, OrderDate: "2017-11-06T12:00:00", Freight: 12.34, ShipCity: "Antwerp", ShipCountry: "Belgium" },
            { OrderID: 2, OrderDate: "2019-03-02T12:00:00", Freight: 23.45, ShipCity: "MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM", ShipCountry: "Singapore" },
            { OrderID: 3, OrderDate: "2019-06-26T12:00:00", Freight: 34.56, ShipCity: "Shanghai", ShipCountry: "melm" },
            { OrderID: 4, OrderDate: "2017-09-20T12:00:00", Freight: 45.67, ShipCity: "MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM MLEM", ShipCountry: "Germany" },
            { OrderID: 5, OrderDate: "2017-12-12T12:00:00", Freight: 56.78, ShipCity: "Mumbai", ShipCountry: "India" },
            { OrderID: 6, OrderDate: "2018-02-08T12:00:00", Freight: 67.89, ShipCity: "Shanghai", ShipCountry: "China" },
            { OrderID: 7, OrderDate: "2018-05-05T12:00:00", Freight: 78.90, ShipCity: "Tokyo", ShipCountry: "Japan" },
            { OrderID: 8, OrderDate: "2019-08-03T12:00:00", Freight: 89.01, ShipCity: "Port Klang", ShipCountry: "Malaysia" },
            { OrderID: 9, OrderDate: "2018-10-29T12:00:00", Freight: 90.12, ShipCity: "Rotterdam", ShipCountry: "Netherlands" },
            { OrderID: 10, OrderDate: "2018-01-23T12:00:00", Freight: 10.32, ShipCity: "Vancouver", ShipCountry: "Canada" },
            { OrderID: 11, OrderDate: "2018-04-17T12:00:00", Freight: 21.43, ShipCity: "Colón", ShipCountry: "Panama" },
            { OrderID: 12, OrderDate: "2017-07-11T12:00:00", Freight: 32.54, ShipCity: "Manila", ShipCountry: "Philippines" },
            { OrderID: 13, OrderDate: "2017-10-24T12:00:00", Freight: 43.65, ShipCity: "Singapore", ShipCountry: "Singapore" },
            { OrderID: 14, OrderDate: "2018-03-11T12:00:00", Freight: 54.76, ShipCity: "Busan", ShipCountry: "South Korea" },
            { OrderID: 15, OrderDate: "2018-06-17T12:00:00", Freight: 65.87, ShipCity: "Shenzhen", ShipCountry: "China" },
            { OrderID: 16, OrderDate: "2018-10-13T12:00:00", Freight: 76.98, ShipCity: "Hong Kong", ShipCountry: "China" },
            { OrderID: 17, OrderDate: "2019-04-19T12:00:00", Freight: 87.09, ShipCity: "Dubai", ShipCountry: "UAE" },
            { OrderID: 18, OrderDate: "2019-07-25T12:00:00", Freight: 98.21, ShipCity: "Felixstowe", ShipCountry: "UK" },
            { OrderID: 19, OrderDate: "2017-09-22T12:00:00", Freight: 13.24, ShipCity: "Los Angeles", ShipCountry: "USA" },
            { OrderID: 20, OrderDate: "2018-12-09T12:00:00", Freight: 35.46, ShipCity: "New York", ShipCountry: "USA" },
            { OrderID: 21, OrderDate: "2018-02-04T12:00:00", Freight: 57.68, ShipCity: "Guangzhou", ShipCountry: "China" },
            { OrderID: 22, OrderDate: "2019-05-16T12:00:00", Freight: 9.87, ShipCity: "Long Beach", ShipCountry: "USA" },
            { OrderID: 23, OrderDate: "2019-08-18T12:00:00", Freight: 24.13, ShipCity: "Singapore", ShipCountry: "Singapore" }
        ];
        var gridDataSource = new kendo.data.DataSource({
            //data: orderData,
            transport: {
                read: function (options) {
                    $.ajax({
                        url: '@Url.Action("GetAllPostOfStudent", "Home")',
                        dataType: "json",
                        success: function (result) {
                            options.success(result);
                            console.log("data>>", result)
                        },
                        error: function (result) {
                            options.error(result);
                        }
                    });
                }
            },
            schema: {
                model: {
                    fields: {
                        Sub_ID: { type: "number" },
                        Sub_Title: { type: "string" },
                        Description: { type: "string" },
                        Department_ID: { type: "number" },
                        //Created_Date: { type: "datetime" }
                    }
                }
            },
            pageSize: 10,
            sort: {
                field: "Created_Date",
                dir: "desc"
            }
        });

        function filterGrid(country) {
            $("#ordersGrid").data("kendoGrid").dataSource.filter({
                field: "Sub_Title",
                operator: "eq",
                value: country
            });
        }

        $("#clearGridFilter").kendoButton({
            click: function (e) {
                $("#ordersGrid").data("kendoGrid").dataSource.filter({});
            }
        });

        $("#ordersGrid").kendoGrid({
            dataSource: gridDataSource,

            height: 643,
            pageable: {
                refresh: false,
                pageSizes: [10, 50, 100],
            },
            sortable: true,
            filterable: false,
            columns: [{
                field: "Sub_ID",
                title: "ID",
                width: 160
            }, {
                field: "Sub_Title",
                width: 160,
                title: "TITLE"
            }, {
                field: "Department_Name",
                title: "DEPARTMENT",
                width: 200,

            }, {
                field: "Created_Date",
                title: "CREATED DATE",
                format: "{0:dd MMMM yyyy}"
            }, {
                field: "Description",
                title: "DESCRIPTION"
                }, {
                    template: kendo.template($("#status-template").html()),
                    width: 100,
            }]
        });

    });

    function getFreightColor(freight) {
        if (freight > 60) {
            return "#090";
        } else if (freight < 30) {
            return "#f00";
        } else {
            return "#00c";
        }
    }


    $("#popupEdit").kendoWindow({
            title: "@Html.Raw("ADD NEW CONTRIBUTION")",
            visible: false,
            modal: true,
            //maxHeight: 600,
            width: 600,
            draggable: true,
            scrollable: true
    });

    $("#popupEditWindows").kendoWindow({
        title: "@Html.Raw("EDIT")",
        visible: false,
        modal: true,
        //maxHeight: 600,
        width: 600,
        draggable: true,
        scrollable: true
    });

    $("#popupDeleteWindows").kendoWindow({
        title: "@Html.Raw("DELETE CONTRIBUTION")",
        visible: false,
        modal: true,
        //maxHeight: 600,
        width: 500,
        draggable: true,
        scrollable: true
    });

    function popupEdit(id) {
        $('#wndEditContent').load("/Home/EditContribution/?Subid=" + id, function () {
            $("#popupEditWindows").data("kendoWindow").center().open().element.closest(".k-window").css({ top: 20 });
        });
    }
    // popup delete
    function popupDelete(id, title) {
        $('#wndDeleteContent').load("/Home/DeleteContribution/?Subid=" + id + "&title=" + title, function () {
            $("#popupDeleteWindows").data("kendoWindow").center().open().element.closest(".k-window").css({ top: 20 });
        });
    }


    function popupAdd() {
        $('#wndEdit').load("/Home/AddContribution/", function () {
            $("#popupEdit").data("kendoWindow").center().open().element.closest(".k-window").css({ top: 20 });
        });
    }
</script>