@using System.Threading;
@{
    var currLang = Thread.CurrentThread.CurrentCulture.ToString();
    var classEn = currLang == "en-US" ? "" : "lang-nonactive";
    var classVi = currLang == "vi-VN" ? "" : "lang-nonactive";


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.default-v2.min.css" />
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css” />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500&display=swap" rel="stylesheet">
    <!-- Material Kit CSS -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/Content/kendo/css/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="/Content/kendo/css/kendo.mobile.all.min.css" />

    <link href="~/Content/bootstrap-4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/owlCarousel/css/owl.carousel.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/owlCarousel/css/owl.theme.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/owlCarousel/css/owl.theme.green.min.css")" rel="stylesheet" />
    <link href="~/Content/Custom-kendo.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/custom/HomePage.css" rel="stylesheet" />
    <link href="/Content/ImageViewer/viewer.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/angular.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/jszip.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/cultures/kendo.culture.@(currLang).min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.1.406/js/messages/kendo.messages.@(currLang).min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script src="/Content/kendo/script/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="/Content/kendo/script/jszip.min.js"></script>
    <script src="/Content/kendo/script/kendo.all.min.js"></script>




    <script src="/Content/kendo/script/kendo.culture.@(currLang).min.js"></script>
    <script src="/Content/kendo/script/kendo.messages.@(currLang).min.js"></script>
    <script src="@Url.Content("~/Content/owlCarousel/js/owl.carousel.min.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.js"></script>
    <script src="/Scripts/QLFahasa.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/Gsap.js"></script>
    <script src="/Content/ImageViewer/viewer.js"></script>


    <!--<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/meanmenu.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/chosen.min.css" rel="stylesheet" /> -->
    <!-- style css -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive css -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <!-- modernizr css -->
    <script src="~/Scripts/js/vendor/modernizr-2.8.3.min.js"></script>



</head>
<body>
    <div class="body-view">
        @RenderBody()       
    </div>
    @RenderSection("scripts", required: false)


</body>
</html>
